name: CI
on:
    pull_request:
        branches:
            - main
jobs:
    Lint_and_Validate:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            
            - name: Check style guide
              run: npx awesome-lint
